{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}

{% block body %}

<ul>
    {% for article in articles %}
        <li><a href="{{ path('article_reading', {'id': article.id}) }}"> {{ article.title }} - ({{ article.author.username|capitalize }} - <i>{{ article.publicationDate|date('d m Y') }}</i>) </a></li>
    {% endfor %}
</ul>

{% endblock %}
